*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pricecolor: #2E86C1;
    --bordercolor:#21618C;
}
.universal{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 30px 60px;
}
.heading-container{
    padding :30px 0px;
}
.card-width{
    width: 50vw;
    box-shadow: -1px -2px 47px -3px rgba(0,0,0,0.75);

}
.main-container{
    flex-direction: column;
}
.clickbtn{
    border: none;
    color: red;
    background-color:white;
}
.ess-details{
    justify-content: space-between;
}
.tourprice{
    color: var(--pricecolor);
}
.image-size{
    height: 50vh;
    object-fit: cover;
}
@media screen and (max-width:1050px) {
    .card-width{
        width: 75vw;
    }
}
